#logout {
  border: none;
  margin-top: 7px;
  background-color: transparent;
  color: rgb(165, 162, 162);
}

#logout:hover {
  color: rgb(105, 103, 103);
}

button {
  cursor: pointer;
  color: rgb(165, 162, 162);
  border-radius: 8px;
}

button:hover {
  color: rgb(105, 103, 103);
}

#your-posts-title {
  text-align: center;
}

#create-new-post-title {
  text-align: center;
}

#your-post-title {
  font-size: 23px;
  color:rgb(245, 118, 118)
}

.username-comment {
  color: lightgray;
  font-size: 13px;
}

.comments-number {
  color:rgb(245, 118, 118);
}
